# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg

# pytest & test cache
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# 환경변수 & 설정
.env
*.env

# Mac/Windows
.DS_Store
Thumbs.db

screenshots/